* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #292929;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.title-font {
  font-family: 'Domine', serif;  
  font-weight: 700;
}

.no-bullets {
  list-style: none;
}

.menu-bg {
  background-color: #f1ede2;
}

.menu-container {
  max-width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.menu-logo {
  margin: 1% 0;
}

.logo {
  font-size: 2rem;
  color: #b54f2c;
}

.menu-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid red;
}

.menu-nav li {
  margin: 1%;
}

